<aside class="sidebar">
    <nav>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/posts">Tous les posts</a></li>
        <li><a href="/posts/create">Créer un post</a></li>
        <li><a href="/messages">Messages</a></li>
        <li><a href="/notifications">Notifications</a></li>
      </ul>
    </nav>
  </aside>